<md-content class="Page-Container Footer iOS-hack" layout-align="center center">
<md-icon md-svg-src="/img/rocket.png" class="Footer-logo"></md-icon>
<br/>
<br/>
<div class="Footer-text">
	An open source project by <a href="https://github.com/jadjoubran" class="Footer-link" target="_blank">Ryanchill</a>.
	inspire by <a href="//www.laravel-angular.io" class="Footer-link" target="_blank">Laravel Angular Material Starter</a>
</div>
<div class="Footer-text">
	&copy; 2017 spacerocket.inc
</div>
</md-content>
