<md-list>
    <md-list-item>
        <p>比赛名称</p>
        <p>报名日期</p>
        <md-button class="md-secondary" >报名</md-button>
        <md-button class="md-secondary" >比赛信息</md-button>
    </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click="vm.getComDetail($index)"
                  ng-repeat="item in vm.items">
        <p>{{ item.name }}</p>
        <p>{{ item.start_at }}</p>
        <md-button class="md-secondary" ng-click="vm.signUpNow($index)">马上报名</md-button>
        <md-button class="md-secondary" ng-click="vm.getComDetail($index)">更多信息</md-button>
    </md-list-item>
</md-list>

