<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="Landing-cover" layout-align="center center">
        <div class="md-headline Landing-subtitle">简单强大的一站式比赛报名系统</div>
        <h1 class="md-display-3 Landing-heading"><strong>Talos</strong></h1>
        <md-button class="md-raised md-large Landing-getStarted" href="#!/doc" >了解更多</md-button>
    </div>


    <div class="Landing-features" layout-align="center center">
        <h1 class="md-display-2 Landing-featuresMainTitle">比赛报名从未如此简单</h1>
        <div class="md-title Landing-featuresMainDescription">
            正确的报名的姿势
        </div>
        <br/>
        <div>
            <div layout="column" layout-gt-sm="row" layout-align="space-around">
                <div flex="33">
                    <div class="Landing-featuresEntry Landing-featuresEntry--restful">
                        <md-icon md-svg-src="/img/icons/74.svg" class="Landing-featuresEntry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">简单高效</div>
                    <div class="md-subhead Landing-featuresDescription">轻松点击，录入报名信息，管理报名状态</div>
                </div>
                <div flex="33">
                    <div class="Landing-featuresEntry Landing-featuresEntry--jwt">
                        <md-icon md-svg-src="/img/icons/23.svg" class="Landing-featuresEntry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">一网打尽</div>
                    <div class="md-subhead Landing-featuresDescription">涵盖校内外各学院的比赛动态，不放过任何一个感兴趣的比赛</div>
                </div>
                <div flex="33">
                    <div class="Landing-featuresEntry Landing-featuresEntry--generators">
                        <md-icon md-svg-src="/img/icons/31.svg" class="Landing-featuresEntry-icon"></md-icon>
                    </div>
                    <div class="md-headline Landing-featuresTitle">实时动态</div>
                    <div class="md-subhead Landing-featuresDescription">大赛动态早知道，第一时间更新赛事动态</div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>
