<md-content class="Page-container nav-left-wrapper">
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>菜单</span>
        </div>
    </md-toolbar>
    <md-list flex>
        <md-list-item class="md-3-line" ui-sref="app.main_App.now">目前正在开展的比赛</md-list-item>
        <md-list-item class="md-3-line" ui-sref="app.main_App.future">即将开始的比赛</md-list-item>
        <md-list-item class="md-3-line" ui-sref="app.main_App.mine">我的比赛</md-list-item>
        <md-list-item class="md-3-line" ui-sref="app.main_App.feedback">问题反馈</md-list-item>
    </md-list>
</md-content>
