<md-dialog aria-label="赛事详情">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.name}} - 详情</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="简介">
                    <md-content class="md-padding">
                        <h1 class="md-title ">赛事简介</h1>
                        <p> id {{ vm.id }}</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere
                            molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit
                            erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac
                            est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="详情">
                    <md-content class="md-padding">
                        <h1 class="md-title ">赛事报名详情</h1>
                        <p> 赛事开始时间: {{ vm.time }}</p>
                        <p> 比赛举办点: 长安校区东区505</p>
                        <p> 赛制:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere
                            molestie dictum. Morbi eget congue risus, quie, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="奖项">
                    <md-content class="md-padding">
                        <h1 class="md-title ">赛事奖项设置</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere
                            molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit
                            erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac
                            est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="//www.baidu.com" target="_blank" md-autofocus>
                去官网看看
            </md-button>
            <span flex></span>
            <md-button ng-click="vm.cancel()" style="margin-right:20px;">
                好的，我知道了
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>