<md-content  class="Page-container mainapp" ng-cloak>
    <div layout="column" ng-cloak>
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex"> 即将开始的比赛</h2>
            </div>
        </md-toolbar>

        <md-content flex layout-padding>
            <p>
                <md-icon md-svg-src="img/icons/56.svg"></md-icon>
                以下的比赛即将举行
            </p>
        </md-content>
        <grid-list-future></grid-list-future>
    </div>
</md-content>
