<md-content  class="Page-container mainapp" ng-cloak>
    <div layout="column" ng-cloak>
        <md-toolbar class="md-info">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">正在开展的比赛</h2>
            </div>
        </md-toolbar>

        <md-content flex layout-padding>
            <p>
                <md-icon md-svg-src="img/icons/29.svg"></md-icon>
                以下比赛正在火热报名
            </p>
        </md-content>

        <grid-list></grid-list>
    </div>
</md-content>
